!!!
%html
    %head
        %title Test
        %link{:rel => "stylesheet", :href => "/css/reset.css", :type => "text/css", :media => "all"}
        %link{:rel => "stylesheet", :href => "/css/text.css", :type => "text/css", :media => "all"}
        %link{:rel => "stylesheet", :href => "/css/960.css", :type => "text/css", :media => "all"}
        <!--[if IE]><script language="javascript" type="text/javascript" src="../excanvas.min.js"></script><![endif]-->
        %script{:language => "javascript", :type => "text/javascript", :src => "/js/jquery-1.4.2.min.js"}
        %script{:language => "javascript", :type => "text/javascript", :src => "/js/flot/jquery.flot.js"}
        %script{:language => "javascript", :type => "text/javascript", :src => "/js/flot/jquery.flot.crosshair.js"}
        %script{:language => "javascript", :type => "text/javascript", :src => "/js/flot/jquery.flot.stack.js"}
    %body
        .container_12
            = yield
