!!!
%html
    %head
        %title Test
        %link{:rel => "stylesheet", :href => "/css/reset.css", :type => "text/css", :media => "all"}
        %link{:rel => "stylesheet", :href => "/css/text.css", :type => "text/css", :media => "all"}
        %link{:rel => "stylesheet", :href => "/css/960.css", :type => "text/css", :media => "all"}
    %body
        .container_12
            = yield
